* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.cursor_pointer {
  cursor: pointer;
}

.display_flex {
  display: flex;
}

.align_center {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.gap_05 {
  gap: 0.5rem;
}
